<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 h4 text-center text-white">COMPANY INFORMATION</p>
        <hr/>
      <p class="m-0 text-center text-white"></p>
        <div class="row text-center">
        <div class="col-5 align-self-center">
            <dl class="row m-0 h6 text-center text-white">
                <dt class="col-4">COMPANY</dt>
                <dd class>DS Games</dd>
            </dl>
            <dl class="row m-0 h6 text-center text-white">
                <dt class="col-4">ADDRESS</dt>
                <dd class>서울특별시 도봉구 삼양로 144길 33</dd>
            </dl>
            <dl class="row m-0 h6 text-center text-white">
                <dt class="col-4">CS CENTER</dt>
                <dd class>02-123-4567</dd>
            </dl>
        </div>
        </div>
    </div>


</footer>