{% extends 'mall/base.html' %}

{% block main_area %}
    <h1>Mall</h1>
        {% if product_list.exists %}
          {% for p in product_list %}
          <!-- Blog post-->
        <div class="card mb-4">
            {% if p.head_image %}
            <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head-image" />
            {% else %}
            <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/600/400" alt="random_image">
            {% endif %}
          <div class="card-body">
              <h2 class="card-title h4">{{ p.name }}</h2>
              <h6 class="text-muted">가격: {{ p.price }}원</h6>
              <p class="card-text">{{ p.content | truncatewords:45 }}</p>
              <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read more →</a>
          </div>
            <div class="card-footer">
                <div class="small text-muted">{{ p.released_at }} by {{ p.publisher }}
                </div>
            </div>
        </div>
          {% endfor %}
        {% else %}
          <h3>아직 상품이 없습니다.</h3>
        {% endif %}
      <!-- Pagination-->

        <ul class="pagination justify-content-center my-4">
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&larr; Newer</a></li>
            <li class="page-item"><a class="page-link" href="#!">Older &rarr;</a></li>
        </ul>

{% endblock %}