{% extends 'mall/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}
    {{ product.name }} - Mall
{% endblock %}
{% block main_area %}
                    <!-- product content-->
                    <div id="post-area">
                        {% if product.category %}
                            <span class="badge badge-secondary float-right">{{ product.category }}</span>
                        {% else %}
                             <span class="badge badge-secondary float-right">미분류</span>
                        {% endif %}
                        <!-- product header-->
                        <header class="mb-4">
                            <!-- product title-->
                            <h1 class="fw-bolder mb-1">{{ product.name }} <span class="text-muted h3"> &#8361; {{ product.price}} </span></h1>
                            <!-- product meta content-->
                            <div class="text-muted fst-italic mb-2">
                                Released on {{ product.released_at }} &#124; by {{ product.publisher }}

                            </div>
                            {% if user.is_authenticated and user == product.author %}
                                <a class="btn btn-info btn-sm float-right" href="/mall/update_post/{{ product.pk }}/" role="button"><i class="fas fa-pen"></i> Edit Post</a>
                            {% endif %}

                            <!-- product categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                            <hr/>
                        </header>
                        <!-- Preview image figure-->
                        {% if product.head_image %}
                        <img class="img-fluid rounded" src="{{ product.head_image.url }}" alt="{{ product.name }} head-image" />
                        {% else %}
                        <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ product.id }}/600/400" alt="random_image">
                        {% endif %}
                        <!-- product content-->
                        <section class="mb-5">
                            <p> {{ product.get_content_markdown | safe }} </p>
                        </section>

                        {% if product.tags.exists %}
                          <i class="fas fa-tags"></i>
                          {% for tag in product.tags.iterator %}
                            <a href="{{ tag.get_absolute_url }}"><span class="badge badge-pill badge-light">{{ tag }}</span></a>
                          {% endfor %}
                          <br/>
                          <br/>
                        {% endif %}
                    </div>
                    <!-- Comments section-->
                    <div class="mb-5" id="comment-area">
                        <div class="card bg-light">
                            <div class="card-body">
                                {% if user.is_authenticated %}
                                <!-- Comment form-->
                                <form class="mb-4" id="comment-form" method="POST" action="{{ product.get_absolute_url }}new_comment/">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ comment_form | crispy }}
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                                {% else %}
                                <a role="button" class="btn btn-outline-dark" href="#"
                                data-toggle="modal" data-target="#loginModal">Log in and leave a comment</a>
                                {% endif %}

                                <!-- Single comment-->
                                {% if product.comment_set.exists %}
                                {% for comment in product.comment_set.all %}
                                <div class="d-flex" id="comment-{{ comment.pk }}">
                                    <div class="flex-shrink-0">
                                        <img class="rounded-circle" src="{{ comment.get_avatar_url }}" alt="{{ comment.author }}" width="60px"/>
                                    </div>
                                    <div class="ms-3">
                                        <div class="fw-bold">{{comment.author.username}} &nbsp;&nbsp;&nbsp;
                                            <small class="text-muted">{{comment.created_at}}</small></div>
                                        <p>{{comment.content | linebreaks }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
{% endblock %}