<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link href="{% static 'mall/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
    <script src="https://kit.fontawesome.com/6b90979e00.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>

{% include 'mall/navbar.html' %}

<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-7">
                <h1>안녕하세요. Game Over입니다.</h1>
                <p><br>원하는 게임들을 취향대로 만나 보세요. <br>
                    다양한 장르의 게임들이 준비되어 있습니다. <hr>
                </p>
                <h4 class="font-weight-bold">Company Info</h4>
                <h6 class="font-weight-bold"><br>주소: 서울특별시 도봉구 삼양로 144길 33</h6>
                <h6 class="font-weight-bold">고객센터: 02-123-4567</h6>
            </div>
            <div class="col-lg-5">
                <img class="img-fluid" src="{% static 'single_pages/images/gameover.jpg' %}">
            </div>
        </div>
    </div>
</section>

<section class="margin-for-footer">
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <h1>PORTFOLIO</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card" data-toggle="modal" data-target="#portfolio1">
                    <img class="card-img-top" src="{% static 'single_pages/images/categories.jpg' %}">
                    <div class="card-body">
                        <h5 class="card-title">카테고리별 상품 갯수</h5>
                        <p>각 카테고리 별 등록된 상품의 수의 정보</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" data-toggle="modal" data-target="#portfolio2">
                    <img class="card-img-top" src="{% static 'single_pages/images/publishers.png' %}">
                    <div class="card-body">
                        <h5 class="card-title">배급사별 상품의 수</h5>
                        <p>각 배급사 별 등록된 상품의 수의 정보</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="portfolio1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">카테고리별 상품 갯수</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
              <canvas id="myChart" style="max-width: 700px;"></canvas>
              <script>
                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['시뮬레이션', '액션', 'RPG', '전략'],
                        datasets: [{
                            label: '#num of',
                            data: [9, 8, 2, 1],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                }
                            }]
                        }
                    }
                });
              </script>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="portfolio2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">배급사별 상품의 수</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
              <canvas id="myChart2" style="max-width: 700px;"></canvas>
              <script>
                const ctx1 = document.getElementById('myChart2').getContext('2d');
                const myChart2 = new Chart(ctx1, {
                    type: 'bar',
                    data: {
                        labels: ['Team 17', 'Electronic Arts', 'Keli Entertainment', 'CD PROJEKT RED', '그 외'],
                        datasets: [{
                            label: '#num of',
                            data: [3, 4, 3, 2, 8],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                }
                            }]
                        }
                    }
                });
              </script>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="mt-3">
    {% include 'mall/footer.html' %}
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

</body>
</html>